{% load static %}
<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="keywords"
            content="EcoShop, bootstrap-5, bootstrap, sass, css, HTML Template, HTML,html, bootstrap template, free template, figma, web design, web development,front end, bootstrap datepicker, bootstrap timepicker, javascript, ecommerce template">

        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="icon" href="assets/images/logos/top-logo.png">

        <!--title  -->
        <title>Shopping Cart</title>

        <!--------------- swiper-css ---------------->
        <link rel="stylesheet" href="{% static 'css/swiper10-bundle.min.css' %}">

        <!--------------- bootstrap-css ---------------->
        <link rel="stylesheet" href="{% static 'css/bootstrap-5.3.2.min.css' %}">

        <!---------------------- Range Slider ------------------->
        <link rel="stylesheet" href="{% static 'css/nouislider.min.css' %}">

        <!---------------------- Scroll ------------------->
        <link rel="stylesheet" href="{% static 'css/aos-3.0.0.css' %}">

        <!--------------- additional-css ---------------->
        <link rel="stylesheet" href="{% static 'css/style.css' %}">


        <!-- ######## -->
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"> -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    

    </head>

    <body>

        <!--------------- header-section --------------->
        <header id="header" class="header">

            <div class="header-center-section d-none d-lg-flex">
                <div class="container">
                    <div class="header-center">

                        <div class="logo">
                            <a href="/">
                                <img src="{% static 'assets/images/logos/logo.webp' %}" alt="logo">
                            </a>
                        </div>

                        <div class="header-search-btn">
                            <input type="text" placeholder="Search Product.....">
                            <a href="#" class="shop-btn">Search</a>
                        </div>

                        <div class="header-cart-items">

                            <div class="header-cart">
                                <a href="{% url 'cart:cart' %}" class="cart-item">
                                    <div>
                                        Cart <span class="total_cart_items" style="color: red;">{{total_cart_items}}</span>
                                    </div>
                                </a>

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <div class="header-bottom d-lg-block d-none">
                <div class="container">
                    <div class="header-nav">
                        <div class="header-nav-menu-section">
                
                            <div class="header-nav-menu">
                                <ul class="menu-list">

                                    <li>
                                        <a href="/">
                                            <span class="list-text">Home</span>
                                        </a>
                                    </li>
                                    
                                    <li>
                                        <a href="{% url 'cart:create_product' %}">
                                            <span class="list-text">Create Product</span>
                                        </a>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                        <a href="become-vendor.html" class="shop-btn">
                            Seller Login
                        </a>
                    </div>
                </div>
            </div>
        </header>
        <!--------------- header-section-end --------------->

            <!-- Messages -->
            
            {% for message in messages %}
                
                {% if message %}
                    <div class="alert alert-{{message.tags}}">
                        {{ message }}
                    </div>
                {% endif %}
                    
            {% endfor %}
                
        
        {% block content %}
            


        {% endblock content %}
        

        <!--------------- jQuery ---------------->
        <script data-cfasync="false" src="{% static '../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js' %}"></script><script src="{% static 'assets/js/jquery_3.7.1.min.js' %}"></script>

        <!--------------- bootstrap-js ---------------->
        <script src="{% static 'assets/js/bootstrap_5.3.2.bundle.min.js' %}"></script>

        <!--------------- Range-Slider-js ---------------->
        <script src="{% static 'assets/js/nouislider.min.js' %}"></script>

        <!--------------- scroll-Animation-js ---------------->
        <script src="{% static 'assets/js/aos-3.0.0.js' %}"></script>

        <!--------------- swiper-js ---------------->
        <script src="{% static 'assets/js/swiper10-bundle.min.js' %}"></script>

        <!--------------- additional-js ---------------->
        <script src="{% static 'assets/js/ecoshop.js' %}"></script>

        <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vcd15cbe7772f49c399c6a5babf22c1241717689176015" integrity="sha512-ZpsOmlRQV6y907TI0dKBHq9Md29nnaEIPlkf84rnaERnq6zvWvPUqr2ft8M1aS28oN72PdrCzSjY4U6VaAw1EQ==" data-cf-beacon='{"version":"2024.11.0","token":"05c60afabf3e4b64ba091c1c292eafc9","r":1,"server_timing":{"name":{"cfCacheStatus":true,"cfEdge":true,"cfExtPri":true,"cfL4":true,"cfOrigin":true,"cfSpeedBrain":true},"location_startswith":null}}' crossorigin="anonymous"></script>

        <script src="{% static 'assets/js/function.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>


</html>